{% extends 'base.html' %} {% block content %}
<style>
  label,
  input {
    width: 100%;
  }
</style>
<div
  style="
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <h1 class="text-center mt-5">Sign Up</h1>

  <p class="red-text">{{ error_message }}</p>

  <div class="card p-5" style="width: 30vw">
    <form method="POST" action="{% url 'signup' %}">
      <div>
        {% csrf_token %} {% for field in form %}
        <div class="mt-3">
          {{ field.error }}
          <label class="form-label text-center">{{ field.label_tag }}</label>
          <div class="form-control" style="width: 100%">{{ field }}</div>
        </div>
        {% endfor %}
        <input
          type="submit"
          class="btn btn-primary mt-3"
          value="Sign Up"
          style="width: 100%"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
