{% extends 'base.html' %} {% block content %}
<div
  style="
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <h1>About !BadBeat</h1>
  <hr />
  <p>
    Sports gambling in the United States was legalized by the Supreme Court in
    2018. The Supreme Court struck down a 1992 federal law that banned
    commerical sports betting in most states, which opened the door to access
    the estimated $150 billion in illegal wagers on professional and amateur
    sports.
  </p>
  <p>
    !BadBeat is a one stop shop for all your betting needs. From getting live
    game data, connecting with fellow handicappers through our game commenting,
    and (soon-to-be) our in-app betting.
  </p>
</div>
{% endblock %}
