{% extends 'base.html' %} {% block content %}

<style>
  .card {
    box-shadow: 10px 5px 5px black;
    background-color: rgb(243, 240, 240);
  }

  .card:hover {
    background-color: rgb(10, 205, 10);
  }
</style>

<h1 class="text-center m-3 p-2">Game List</h1>

{% for game in games %}
<div class="card m-3">
  <a href="/games/{{ game.id }}" style="color: inherit; text-decoration: none">
    <div class="card-body">
      <span class="card-title">{{ game.game_date }}</span>
      <div class="text-center">
        <p>{{ game.away_team }}</p>
        <p>@</p>
        <p>{{ game.home_team }}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
